@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h1>Welcome</h1>

Please sign in using one of the following:

<button class="btn btn-primary">Sign in with Okta</button>
<button class="btn btn-secondary">Sign in with Google/Microsoft</button>